name: Update RetroArch Nightly

on:
  schedule:
    - cron: '30 17 * * *'  # Run daily at 17:30 UTC
  workflow_dispatch:  # Allow manual triggers

jobs:
  update-package:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        token: ${{ secrets.CHOCO_PAT }}

    - name: Install Chocolatey
      run: |
        Set-ExecutionPolicy Bypass -Scope Process -Force
        [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
        iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))

    - name: Download RetroArch builds and calculate SHA256
      run: |
        $x64Url = "https://buildbot.libretro.com/nightly/windows/x86_64/RetroArch.7z"
        $x86Url = "https://buildbot.libretro.com/nightly/windows/x86/RetroArch.7z"
        
        Invoke-WebRequest -Uri $x64Url -OutFile "RetroArch_x64.7z"
        Invoke-WebRequest -Uri $x86Url -OutFile "RetroArch_x86.7z"
        
        $x64Hash = (Get-FileHash -Path "RetroArch_x64.7z" -Algorithm SHA256).Hash
        $x86Hash = (Get-FileHash -Path "RetroArch_x86.7z" -Algorithm SHA256).Hash
        
        echo "X64_HASH=$x64Hash" >> $env:GITHUB_ENV
        echo "X86_HASH=$x86Hash" >> $env:GITHUB_ENV

    - name: Update package files
      run: |
        $nuspecPath = "retroarch-nightly/retroarch-nightly.nuspec"
        $installScriptPath = "retroarch-nightly/tools/chocolateyinstall.ps1"
        
        # Update nuspec file
        $nuspec = [xml](Get-Content $nuspecPath)
        $nuspec.package.metadata.version = (Get-Date -Format "yyyy.MM.dd")
        $nuspec.Save($nuspecPath)
        
        # Update install script
        $installScript = Get-Content $installScriptPath -Raw
        $installScript = $installScript -replace '(?<=\$url64\s*=\s*").+?(?=")', "https://buildbot.libretro.com/nightly/windows/x86_64/RetroArch.7z"
        $installScript = $installScript -replace '(?<=\$url32\s*=\s*").+?(?=")', "https://buildbot.libretro.com/nightly/windows/x86/RetroArch.7z"
        $installScript = $installScript -replace '(?<=\$checksum64\s*=\s*").+?(?=")', $env:X64_HASH
        $installScript = $installScript -replace '(?<=\$checksum32\s*=\s*").+?(?=")', $env:X86_HASH
        Set-Content $installScriptPath $installScript

    - name: Build and push Chocolatey package
      env:
        CHOCO_API_KEY: ${{ secrets.CHOCO_API_KEY }}
      run: |
        cd retroarch-nightly
        choco pack
        $nupkg = Get-ChildItem *.nupkg | Select-Object -First 1
        choco push $nupkg --source https://push.chocolatey.org/ --api-key $env:CHOCO_API_KEY

    - name: Commit and push changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add retroarch-nightly/*
        git commit -m "Update RetroArch Nightly package"
        git push